# build outputs
*.o
*.out
*.exe
main
build/
dist/
docs/
config/
out/

# vscode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
.cache/
compile_commands.json
.vscode/

# libs downloaded locally
vendor/
.cache/
